div#main {
    width: 100%;
}

.earnings__year {
    font-size: 14px;
    color: #222;
}

.earnings__total-earnings-in-year {
    margin: 0px;
    word-wrap: break-word;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1578947368421053em;
    color: #484848;
    padding-top: 8px;
    padding-bottom: 8px;
}

.earnings__total-earnings-in-year-title {
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
}

.drawChartButton {
        display: inline-block;
            margin: 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition-property: background, border-color, color;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
            cursor: pointer;
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            height: 48px;
            width: 76px;
            letter-spacing: normal;
            padding: 10px 22px;
            font-weight: 800;
            border-width: 2px;
            border-style: solid;
            min-width: 150px;
            box-shadow: none;
            background: rgb(0, 132, 137);
            border-color: transparent;
            color: rgb(255, 255, 255);
}